<div class="col">
    <div class="card top-highlight">
        {{ $img := (.Resources.ByType "image").GetMatch "*featured*" }}
        {{ if $img }}
        {{ $img = $img.Fit "500x500" }}
        {{ with $img }}
        <img src="{{ .Permalink }}" alt="{{ $.Title }}" class="card-img-top p-5">
        {{ end }}
        {{ end }}
        <div class="card-body">
            <h5 class="card-title">{{ .Title }}</h5>
            <p class="card-text">{{ .Summary }}</p>
            <a href="{{ .Permalink }}" class="stretched-link"></a>
            <div class="row justify-content-between">
                <div class="col align-self-start">
                {{ with .Params.project_tags }}
                {{ range . }}
                <span class="badge tag-badge">{{ . }}</span>
                {{ end }}
                {{ end }}
                </div>
                <div class="col align-self-end" style="text-align: right">
                    {{ partial "status.html" . }}
                </div>
            </div>
        </div>
    </div>  
</div>